<%= stylesheet_link_tag "watchlists" %>

<% if current_user.watchlists.empty? %>
  <%= render '/layouts/error' %>
<% else %>
  <div class="container card">
    <h2 class="title">Your Watchlist</h2>
    <p>Enjoy your watchlist</p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Movies</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.watchlists.order(created_at: :desc).each do |watchlist| %>
          <tr>
            <td>
              <%= watchlist.movie.title %>
            </td>
            <td>
              <%= watchlist.movie.release_date %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>