<%= stylesheet_link_tag "genre" %>
<%= javascript_pack_tag 'search' %>

<div class="container" style="margin-left: 16%;">
  <% Genre.first(8).each do |genre|%>
    <%= link_to "#{genre.title}", genre_movies_path, :class => "btn btn-success", :id => "#{genre.title}"  %>
  <%end%> 
</div>

<div id="genre_type">
  
</div>