<%= stylesheet_link_tag "movies" %>
<%= javascript_pack_tag "add_new" %>

<% if @movie.errors.full_messages.any? %>
  <% @movie.errors.full_messages.each do |error_message| %>
    <%= error_message if @movie.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<% if user_signed_in? && current_user.role == 'admin' %>
  <div class="card">
    <h1 class="title">Add Movie</h1>
    <%= render "/layouts/movie" %>
  </div>
  <br><br>
<% else %>
  <% controller.redirect_to root_path %>
<% end %>