.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  font-family: arial;
  background-color: #F4F2E94A;
 }

.title {
  text-align: center;
  background-color: #f72e6780;
  color: white;
}


p {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

h1{
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

tr, td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid;
  width: auto;
}