<%= stylesheet_link_tag 'slider' %>

<div class="slideshow-container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
       <% @movies.each_with_index do |photo, n| %>
         <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
       <% end %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag @movies.last.image, :style=>'width:100%;' %>
      </div>
      <% @movies.drop(1).each do |photo| %>
         <div class="item">
           <%= image_tag photo.image, :style=>'width:100%;' %>
         </div>
      <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>